{% extends 'customer_base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Dashboard: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_dashboard/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_dashboard/manage/">Manage</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_dashboard/search/">Search uav</a>
</div>
{% csrf_token %}

<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
<h3><b>Order Completed</b></h3>
<b>Your Vehicle Order Has Been Processed!</b><br><br>
<b>Total Rent :</b> ${{order.rent}}<br><br>
<b>Vehicle :</b> {{order.vehicle.uav_name}}<br><br>
<b>Duration :</b> {{order.days}} days<br><br>
<b>UAV-Dealer :</b> {{order.uav_dealer.uav_dealer.first_name}} {{order.uav_dealer.uav_dealer.last_name}}<br><br>
<b>UAV-Dealer's Contact:</b> {{order.uav_dealer.mobile}}<br><br>
</div>
</div>
{% endblock %}
